.CodeEditor {
  left: 0;
}

.CodeEditor-edit {
  padding: 8px;
  width: 100%;
  height: 100%;
  font-family: monospace;
  background-color: #f3f4f5;
}

[contentEditable="true"]:focus {
  box-shadow: 2px 2px 2px #ddd;
  outline: none;
}